extends ../layouts/default

block append variables
    - var currentPage = "contact";
    - var themeColor = "dark";
    
block content
    .container#contact
        h1 Contact Me
        p The game would not be successful without you. Would you like to give feedback on the game? Or chat with others who are also interested in Tenbin? Join our Discord server!
        p: a(href="https://discord.gg/2KabAgsN6Y") <img src="images/discord head.png" width="45" /> &nbsp; Discord - Tenbin
        p: a(href="mailto:kidprofmc@gmail.com") <img src="images/gmail.png" width="45" /> &nbsp; kidprofmc@gmail.com
